* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #586BA4;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    background-color: #F5DD90;
    font-size: 8vmin;
    color: #F68E5F;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #324376;
    color: #F76C5E;
    border: none;
    border-radius: 1rem;

}